<!DOCTYPE html>
<html>
<head>	
		{% if title %}
        	<title>Growth India - {{ title }}</title>
    	{% else %}
        	<title>Growth India</title>
    	{% endif %}
        {% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'dashboard/style.css' %}">
</head>
<body>
	<!-- for the navigation bar -->
	<nav>
		<ul>
			<li style="padding-left: 10px; padding-right: 10px;"><h3>Growth India</h3></li>
			<li><a href="">Home</a></li>
			{% if user.is_authenticated  %}
			<li><a href="/logout">Logout</a></li>
			<li style="padding: 20px; float: right;">Logged in as {{ user.username }}</li>

			{% else %}
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
			{% endif %}
		</ul>
	</nav>
	<br>
	
	<div class="background-box">
		{% block content %}{% endblock %}
	</div>
</body>
</html>